version: "3.9"

networks:
  prom-net:
    external: true

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro      
      - /etc/localtime:/etc/localtime:ro
    networks:
      - prom-net

  app:
    build: .
    container_name: nest_app
    restart: always
    ports:
      - "${PORT}:4000"
    environment:
      PORT: ${PORT}
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    volumes:        
      - /usr/src/app/node_modules 
    depends_on:
      - db
    networks:
      - prom-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - app
    networks:
      - prom-net

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - prom-net

volumes:
  postgres_data: {}
  prometheus_data: {}
  grafana_data: {}
