version: '3.8'
services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /usr/share/zoneinfo:/usr/share/zoneinfo:ro      
      - /etc/localtime:/etc/localtime:ro      

  cta-backend:
    image: diegomoronha/cta-backend:latest
    container_name: cta-backend
    restart: always
    ports:
      - "${PORT}:4000"
    environment:
      PORT: ${PORT}
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db

  cta-frontend:
    image: diegomoronha/cta-frontend:latest
    container_name: cta-frontend
    restart: always
    ports:
      - "${PORT}:80"
    environment:
      FE_BACKEND_API: http://cta-backend:4000
    depends_on:
      - cta-backend



volumes:
  postgres_data:
